:root {
    --player-bar-height: 105px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: #292B2F;
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: #393C43;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive {
    background: #393C43;
}

.main-contextMenu-menu {
    background-color: #393C43;
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover,
.main-rootlist-textWrapper,
.main-type-viola {
    color: white !important;
}

/** Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

.main-rootlist-rootlistDivider {
    background-color: unset;
}

.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

/*Friends*/
.main-buddyFeed-expanded
{
    padding-top: 25px;
    background-color: #2F3136 !important;
}

.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink
{
    color:#8E9197 !important;
}

/*Left sidebar*/
.main-rootlist-rootlistDividerGradient, .main-rootlist-rootlistDivider
{
    opacity: 0;
}

.main-navBar-navBarLinkActive
{
    background-color: #393C43;
}

.main-rootlist-textWrapper
{
    color: #858A91;
}

/*Now playing color*/
.main-trackList-rowTitle, .standalone-ellipsis-one-line, .main-type-ballad
{
	color: #FFFFFF !important;
}

/*scrollbar*/
.os-scrollbar-handle
{
    color: #202225 !important;
    background-color: #202225 !important;
    border-radius: 5px;
    width:7px;
}

.os-scrollbar-track
{
    color: #2E3338 !important;
    background-color: #2E3338 !important;
    border-radius: 5px;
    width:7px;
}

/*Other*/
.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: white;
}

.progress-bar__fg
{
    background-color: #FFFFFF !important;
}

/*Discord status*/
.away { /* Away - not playing music */
    visibility: visible;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='14.5' y='17' width='21' height='21' viewBox='0 0 25 25'%3E%3Cmask id='1de335f8-922e-4b97-b0dc-d3e29e64b60f'%3E%3Crect x='7.5' y='5' width='10' height='10' rx='5' ry='5' fill='white'%3E%3C/rect%3E%3Crect x='6.25' y='3.75' width='7.5' height='7.5' rx='3.75' ry='3.75' fill='black'%3E%3C/rect%3E%3Cpolygon points='-2.16506,-2.5 2.16506,0 -2.16506,2.5' fill='black' transform='scale(0) translate(13.125 10)' style='transform-origin: 13.125px 10px;'%3E%3C/polygon%3E%3Ccircle fill='black' cx='12.5' cy='10' r='0'%3E%3C/circle%3E%3C/mask%3E%3Crect fill='%23faa61a' width='25' height='15' mask='url(%231de335f8-922e-4b97-b0dc-d3e29e64b60f)'%3E%3C/rect%3E%3C/svg%3E");
    background-position: -6px -4px;
    bottom: -3px;
    right: -3px;
	height: 16px;
    width: 16px;
	display: block;
    position: absolute;
    border: solid #2F3136 3px;
    border-radius: 50%;
    background-color: #2F3136;
}

.online { /* Online - playing music */
    visibility: visible;
    bottom: -3px;
    right: -3px;
	background-color: #389E58;
	height: 16px;
    width: 16px;
	display: block;
    position: absolute;
    border: solid #2F3136 3px;
    border-radius: 50%;
}

.hidden 
{
    visibility: hidden;
}